
$sidebar-width: 250px;

body,
html {
  height: 100%;
  width: 100%;
}

.Page {
  height: 100%;
}

.Sidebar {
  @include grid-row();
  @include breakpoint(large) {
    height: 100%;
    position: fixed;
    width: $sidebar-width;
  }
}

.ContentContainer {
  @include breakpoint(large) {
    margin-left: $sidebar-width;
  }

  .Content,
  .Footer {
    @include grid-row();
  }
}
