
// Typography
// ---------------

ul {
  list-style: circle;
}

.lead {
  font-weight: $header-font-weight;

  @include breakpoint(small only) {
    font-size: rem-calc(map-get(map-get($header-sizes, small), 'h6'));
  }
}

.h1 {
  font-size: rem-calc(map-get(map-get($header-sizes, small), 'h1'));
  @include breakpoint(medium) {
    font-size: rem-calc(map-get(map-get($header-sizes, medium), 'h1'));
  }
}
.h2 {
  font-size: rem-calc(map-get(map-get($header-sizes, small), 'h2'));
  @include breakpoint(medium) {
    font-size: rem-calc(map-get(map-get($header-sizes, medium), 'h2'));
  }
}
.h3 {
  font-size: rem-calc(map-get(map-get($header-sizes, small), 'h3'));
  @include breakpoint(medium) {
    font-size: rem-calc(map-get(map-get($header-sizes, medium), 'h3'));
  }
}
.h4 {
  font-size: rem-calc(map-get(map-get($header-sizes, small), 'h4'));
  @include breakpoint(medium) {
    font-size: rem-calc(map-get(map-get($header-sizes, medium), 'h4'));
  }
}
.h5 {
  font-size: rem-calc(map-get(map-get($header-sizes, small), 'h5'));
  @include breakpoint(medium) {
    font-size: rem-calc(map-get(map-get($header-sizes, medium), 'h5'));
  }
}
.h6 {
  font-size: rem-calc(map-get(map-get($header-sizes, small), 'h6'));
  @include breakpoint(medium) {
    font-size: rem-calc(map-get(map-get($header-sizes, medium), 'h6'));
  }
}

// Navigation
// ---------------
.Navigation {
  &Logo {
    background-image: url('../img/z.png');
    background-repeat: no-repeat;
    background-size: 48px;
    display: block;
    height: 100px;
    width: 72px;
    list-style: none;
    margin-left: 0;
    opacity: .8;
    padding-bottom: $grid-column-gutter;
    text-indent: -9999px;
    transition: opacity .25s linear;

    &:hover {
      opacity: 1;
    }
  }

  &List {
    // border-bottom: 1px solid rgba($light-gray, .25);
    // margin-bottom: $grid-column-gutter;
    // padding-bottom: $grid-column-gutter;
    list-style: none;

    a {
      color: $medium-gray;
      transition: color .25s linear;

      &:hover,
      &.is-active {
        color: $primary-color;
      }
    }
  }
}

.ExperienceList,
.EducationList {
  list-style: none;
  margin: 0;

  ul {
    list-style: circle;
  }
}

.ExperienceListItem,
.EducationListItem {
  border-bottom: 2px solid rgba($light-gray, 0.2);
  margin-top: $grid-column-gutter;
  margin-bottom: $grid-column-gutter;
  padding-bottom: $grid-column-gutter;

  @include breakpoint(medium) {
    padding-bottom: $grid-column-gutter * 1.5;
  }

  .lead em {
    color: $medium-gray;
    font-style: normal;
  }
}

.InterestsList {
  @include breakpoint(medium) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: $grid-column-gutter + 10;
    -moz-column-gap: $grid-column-gutter + 10;
    column-gap: $grid-column-gutter + 10;
  }
}

// Portfolio List
// ---------------
.PortfolioList {
  padding-top: $grid-column-gutter;

  @include breakpoint(medium) {
    padding-top: $grid-column-gutter * 2;
  }
}

.PortfolioItem {
  position: relative;

  &Details {
    background-color: rgba($secondary-color, 0.95);
    color: $white;
    cursor: pointer;
    padding: $grid-column-gutter;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    @include breakpoint(large) {
      background-color: $secondary-color;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      text-align: center;
      transition: 250ms opacity;

      &:hover {
        opacity: 0.95;
      }
    }
  }
}

// Content
// ---------------
.ContentTable {
  display: table;
  height: 100%;
  width: 100%;
}

.ContentCell {
  display: table-cell;
  vertical-align: middle;
}

.ContentSection {
  margin-bottom: $grid-column-gutter;

  @include breakpoint(medium) {
    margin-bottom: $grid-column-gutter * 2;
  }
}

.WorkDetailHeader {
  margin-bottom: $grid-column-gutter;
}

.work-caption {
  border-left: 4px solid $primary-color;
  color: $medium-gray;
  margin-bottom: $grid-column-gutter * 2;
  padding-left: $grid-column-gutter;
}

.work-img {
  // border: 1px solid $light-gray;
  margin-bottom: $grid-column-gutter;
  width: 100%;
}

.pagination-next,
.pagination-previous {
  a {
    transition: color, background-color .25s linear;
    &:hover {
      color: $white;
    }
  }
}

// Footer
// ---------------
.Footer {
  color: $medium-gray;
}
