
.Navigation {
  &Logo {
    background-image: url('../img/z.png');
    background-repeat: no-repeat;
    background-size: 48px;
    display: block;
    height: 100px;
    width: 72px;
    list-style: none;
    margin-left: 0;
    opacity: .8;
    padding-bottom: $grid-column-gutter;
    text-indent: -9999px;
    transition: opacity .25s linear;

    &:hover {
      opacity: 1;
    }
  }

  &List {
    // border-bottom: 1px solid rgba($light-gray, .25);
    margin-bottom: $grid-column-gutter;
    padding-bottom: $grid-column-gutter;
    list-style: none;

    a {
      color: $medium-gray;
      transition: color .25s linear;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.PortfolioItem {
  position: relative;

  &Details {
    background-color: $secondary-color;
    color: $white;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    transition: 250ms opacity;

    &:hover {
      opacity: 0.95;
    }
  }
}

.ContentTable {
  display: table;
  height: 100%;
  width: 100%;
}

.ContentCell {
  display: table-cell;
  vertical-align: middle;
}

.Footer {
  color: $medium-gray;
}
